$color-primary-dark: #42C2FF;
$color-primary-light: #85F4FF;

$color-primary: #042535;
// $color-text: #243763;



$color-primary-light2: #B8FFF9;
$color-primary-light1: #EFFFFD;

// $color-text: #03045e;
// $color-text: #243763;
$color-text: #003459;
// $color-text: #03045e;




// $color-text: #102A42;
// $color-text: #0e6591;


// $color1: #5e61ff;
// $color2: #42c2ff;
// $color3: #2d31fa;
// $color4: #2d31fa;
// $color6: #e0fcff;

// $color6: #102A42;

// $color5: #03045e;

// $color-secondary-dark: #243763;
$yellow: #e2cc09;
$red: #eb0606;

$color-nevbar: #fff;

$color-white:rgb(255, 255, 255);

// $color-primary: #42C2FF;

// $color-nevbar: #a2d2ff;
// $color-nevbar: #a2d2ff33;
$color-nevbar-text: #243763;
$color-nevbar-text-hover: #e46e0f;

$color-secondary-light: #243763;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$c1: #2998ff;
$c2: #5643fa;


$color-dark-2: #cbd5e1;







$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// font
$default-font-size: 1.6rem;

// grid
$grid-width: 70%;
// $grid-width: 134rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;
// $gutter-horizontal

$twitter: url('https://twitter.com/mrinmoy__me');
$instagram: url('https: //www.instagram.com/mrinmoy__me/');
$linkedin: url('https: //www.linkedin.com/in/themrinmoy/');
$mrinmoy: url('https: //mrinmoy.me/');


